{% extends 'base/base.html' %}
{% load static %}
{% block title %}Event Calendar{% endblock title %}

{% block extracss %}
  <link href="{% static 'calender/main.css' %}" rel="stylesheet" />


  <style>
    .fc-event,
    .fc-event-main,
    .fc-event-main-frame {
        background-color: #0d6efd !important;
        border-color: #0d6efd !important;
        color: white !important;  /* Added text color */
    }
    
    .fc .fc-event-main {
        background-color: #0d6efd !important;
        border-color: #0d6efd !important;
        color: white !important;  /* Added text color */
    }
    
    .fc-daygrid-event {
        background-color: #0d6efd !important;
        border-color: #0d6efd !important;
        color: white !important;  /* Added text color */
    }

    /* Additional selectors to ensure text color */
    .fc-event-title,
    .fc-event-time,
    .fc-event-title-container {
        color: white !important;
    }
</style>

{% endblock extracss %}

{% block breadcrumb %}
  <div>
      <h1><i class="fa fa-calendar"></i> Calendario</h1>
  </div>
  {% comment %}
  <div>
    <a class="btn btn-primary" href="{% url 'calendarapp:event_new_tentative'%}">Crear Solicitud de Cita</a>
  </div>
  {% endcomment %}
  
  <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
      <li class="breadcrumb-item"><a >Calendar</a></li>
  </ul>
{% endblock breadcrumb %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="tile row">
            {% comment "" %}
            <div class="col-md-3">
                <div id="external-events">
                    <h4 class="mb-4">Eventos ejecutandose</h4>
                    {% for event in events_month %}
                      <div class="fc-event">
                          <h3>{{ event.title }}</h3>
                          <p>{{ event.description }}</p>
                          <p>{{event.id}}</p>
                          <p>From: {{ event.start_time }}</p>
                          <p>To: {{ event.end_time }}</p>
                      </div>
                    {% empty %}
                      <p>No Running Events Found</p>
                    {% endfor %}
                </div>
            </div>
            {% endcomment %}
            
            <div class="col-md-12">
                <div id="calendar"></div>
            </div>

            <div class="modal fade show" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-primary">
                            <h5 class="modal-title text-white" id="exampleModalLongTitle">Añadir Nuevo Evento</h5>
                            <button id="modalClose1" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form method="post">
                            {% csrf_token %}
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">Paciente:</label>
                                    {{ form.patient }}
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">Descripción:</label>
                                    {{ form.diagnosis }}
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">Solicitud:</label>
                                    {{ form.event_type }}
                                </div>
                                
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">Fecha de inicio:</label>
                                    {{ form.start_time }}
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">Fecha de finalización:</label>
                                    {{ form.end_time }}
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button id="modalClose2" type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal fade show" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                      <div class="modal-header bg-primary">
                        <h5 class="modal-title text-white">Editar Evento</h5>
                          <button id="modalDetailClose" type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                      <form method="POST" id="editEventForm">
                          {% csrf_token %}
                          <div class="modal-body">
                              
                              <div class="form-group">
                                  <label for="message-text" class="col-form-label">Diagnostico:</label>
                                  <textarea class="form-control" id="diagnosis_event_detail" name="diagnosis"></textarea>
                                  
                              </div>
                              <div class="form-group">
                                  <label for="message-text" class="col-form-label">Fecha de inicio:</label>
                                  {% comment "" %}
                                  <p id = "start_event_detail">
                                  {% endcomment %}
                                <input type="datetime-local" class="form-control" id="start_event_detail" name="start_time">

                              </div>
                              <div class="form-group">
                                  <label for="message-text" class="col-form-label">Fecha de finalización:</label>
                                    <input type="datetime-local" class="form-control" id="end_event_detail" name="end_time">
                              </div>
                          </div>
                          <div class="modal-footer">
                              <button id="delete-event-button" data-event-id="" type="button" class="btn btn-danger">Delete</button>
                              <button id="add-to-next-week" data-event-id-week="" type="button" class="btn btn-success">Next Week</button>
                              <button id="add-to-next-day" data-event-id-day="" type="button" class="btn btn-primary">Next Day</button>
                              <button type="submit" class="btn btn-primary">Save Changes</button>
                            </div>
                      </form>
                  </div>
              </div>
          </div>
        </div>
    </div>
</div>
{% endblock content %}


{% block extrascripts %}
<script src="{% static 'calender/main.js' %}"></script>
<script>
  function converterDataParaDjangoFormat(data) {
      const dataJS = new Date(data);
      const year = dataJS.getFullYear();
      const month = (dataJS.getMonth() + 1).toString().padStart(2, '0');
      const day = dataJS.getDate().toString().padStart(2, '0');
      const hour = dataJS.getHours().toString().padStart(2, '0');
      const minute = dataJS.getMinutes().toString().padStart(2, '0');
      const second = dataJS.getSeconds().toString().padStart(2, '0');
      const formatoDjango = `${year}-${month}-${day} ${hour}:${minute}:${second}`;
      return formatoDjango;
      
  }
    document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');
      var today = new Date();

      var calendar = new FullCalendar.Calendar(calendarEl, {
        locale: 'es',
        initialView: 'timeGridWeek',
        firstDay: 1,
        headerToolbar: {
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,timeGridWeek,timeGridDay,list'
        },
        eventTimeFormat: {
            hour: 'numeric',
            minute: '2-digit',
            meridiem: 'long',
            hour12: true
        },
        buttonText: {
            today: 'Hoy',
            month: 'Mes',
            week: 'Semana',
            day: 'Día',
            list: 'Lista'
        },
        initialDate: today,
        navLinks: true, // can click day/week names to navigate views
        selectable: true,
        selectMirror: true,
        eventColor: 'red',           // default event color
        eventBackgroundColor: '#fff', // event background color
        eventBorderColor: '#fff',     // event border color
        eventTextColor: 'white', 
        select: function(arg) {
          console.log('clicked')
          console.log(arg.start)
          console.log(arg.end)
          var modal = document.getElementById('eventModal')
          modal.style.display = 'block'
          document.getElementById('id_start_time').value = converterDataParaDjangoFormat(arg.start);
          document.getElementById('id_end_time').value = converterDataParaDjangoFormat(arg.end);
          calendar.unselect()
        },
        
        // THIS KEY WON'T WORK IN PRODUCTION!!!
        // To make your own Google API key, follow the directions here:
        // http://fullcalendar.io/docs/google_calendar/
        // googleCalendarApiKey: 'AIzaSyCqCxjjLtjbtkX37aOtWB8OfwBLy_6QuYk',

        // bangladesh Holidays
        // events: 'bn.bd#holiday@group.v.calendar.google.com',
        eventClick: function(arg) {
          
          console.log('clicked')
          var startFormatted = converterDataParaDjangoFormat(arg.event.start);
          var endFormatted = converterDataParaDjangoFormat(arg.event.end);
          var diagnosis = arg.event.extendedProps.diagnosis || '';
          var id = arg.event.id;
          console.log(id)

          var modal = document.getElementById('detailModal')
          var modalStart = document.getElementById('start_event_detail'); 
          var modalEnd = document.getElementById('end_event_detail'); 
          var modalDiagnosis = document.getElementById('diagnosis_event_detail'); 


          var deleteButton = document.getElementById("delete-event-button");
          var nextWeek = document.getElementById("add-to-next-week");
          var nextDay = document.getElementById("add-to-next-day");
          
          deleteButton.setAttribute("data-event-id", id);
          nextWeek.setAttribute("data-event-id-week", id);
          nextDay.setAttribute("data-event-id-day", id);
          

          modal.style.display = 'block' 
          
          modalStart.value = startFormatted;
          modalEnd.value = endFormatted;
          modalDiagnosis.textContent = diagnosis;
          
         
          modal.style.display = 'block';
        },
        editable: true,
        dayMaxEvents: true, // allow "more" link when too many events
        events: {{ events|safe }},
        // events: [
        //   {
        //     title: 'All Day Event',
        //     start: '2021-06-26'
        //   },
        //   {
        //     groupId: 999,
        //     title: 'Repeating Event',
        //     start: '2020-09-16T16:00:00'
        //   },
        //   {
        //     title: 'Conference',
        //     start: '2020-09-11',
        //     end: '2020-09-13'
        //   },
        //   {
        //     title: 'Click for Google',
        //     url: 'http://google.com/',
        //     start: '2020-09-28'
        //   }
        // ]
      });

      calendar.render();
    });
    const closeBtn1 = document.getElementById('modalClose1');
    const closeBtn2 = document.getElementById('modalClose2');
    const closeBtn3 = document.getElementById('modalDetailClose');
    closeBtn1.addEventListener('click',()=>{
      const eventModal = document.getElementById('eventModal')
      eventModal.style.display = 'none';
    });
    closeBtn2.addEventListener('click',()=>{
      const eventModal = document.getElementById('eventModal')
      eventModal.style.display = 'none';
    });
    closeBtn3.addEventListener('click',()=>{
      const eventModal = document.getElementById('detailModal')
      eventModal.style.display = 'none';
    });
    function formatDateTime(dateTime) {
      const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: '2-digit', minute: '2-digit', second: '2-digit', timeZoneName: 'short' };
      const dataFormatada = new Date(dateTime).toLocaleDateString('en-US', options);
      return dataFormatada;
    };

    document.getElementById('editEventForm').addEventListener('submit', function(e) {
        
        const eventId = document.getElementById('delete-event-button').getAttribute('data-event-id');

        console.log(eventId);
        const formData = new FormData(this);
        console.log(formData);
        if (confirm('Esta seguro de que desea actualizar el evento?')) {
        $.ajax({
            url: `/update_event/${eventId}/`,
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function(response) {
                alert('Event updated successfully!');
                window.location.reload();
            },
            error: function(xhr, status, error) {
                alert('Error updating event!');
            }
        });
    }
    });


    document.getElementById('delete-event-button').addEventListener('click', function() {
      const eventId = this.getAttribute('data-event-id');
      console.log(eventId);
      if (confirm('Are you sure you want to delete this event?')) {
          $.ajax({
              url: `/delete_event/${eventId}/`,
              type: 'POST',
              data: {
                  csrfmiddlewaretoken: '{{ csrf_token }}',
              },
              success: function(response) {
                  alert(response.message);
                  window.location.reload();
              },
              error: function(xhr, status, error) {
                  alert('Error!');
              }
          
          });
      }
    });
      
      document.getElementById('add-to-next-week').addEventListener('click', function() {
          const eventId = this.getAttribute('data-event-id-week');
          if (confirm('Are you sure you want add this event to next week?')) {
              $.ajax({
                url: `/next_week/${eventId}/`,
                  type: 'POST',
                  data: {
                      csrfmiddlewaretoken: '{{ csrf_token }}',
                  },
                  success: function(response) {
                      alert(response.message);
                      window.location.reload();
                  },
                  error: function(xhr, status, error) {
                      alert('Error!');
                  }
              });
          }
  });

  document.getElementById('add-to-next-day').addEventListener('click', function() {
    const eventId = this.getAttribute('data-event-id-day');
    if (confirm('Are you sure you want add this event to next day?')) {
        $.ajax({
          url: `/next_day/${eventId}/`,
            type: 'POST',
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            success: function(response) {
                alert(response.message);
                window.location.reload();
            },
            error: function(xhr, status, error) {
                alert('Error!');
            }
        });
    }
});

</script>
{% endblock extrascripts %}

